@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Inter', sans-serif;
}

.card-hover:hover {
    transform: scale(1.02);
    transition: 0.3s;
}
body {
    background: red;
}
.cart-item:hover {
    transform: scale(1.01);
    transition: 0.2s;
}